
.img{
	height:-1%;
	width:7.5%; 
	background-color: white;
	border-right: 5px solid white;
	border-left: 5px solid white;
}


.flex-container {
  display: flex;
  background-color: #963737;
  height: 51px; 
  width: max-content;
}

.list{
	display: none;
}

.flex-container a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-right: 2px solid white;
}

.img1{
    border-left: 2px solid white;
    height:51px;
	width:50px;
     margin-right: -73px;
    margin-left: 728px;
    padding-left: 13px;
    padding-right: 13px;
   
}

@media only screen and (max-width: 768px) {

   .flex-container {
  		display: flex;
  		background-color: white;
  		height: 51px;
 		width: max-content;
 		margin-top: 19px;
        margin-left: 21px;
	}

	.list{
    display: block;
  	height: 61px;
    width: 68px;
	border-right: 15px solid white;
   }

   .img{
    height: 61px;
    width: 151px;
	background-color: white;
	border-right: 5px solid white;
	border-left: 5px solid white;
   }

   .img1{
   background-color: #963737;
  margin-left: 79%;
    position: fixed;
   margin-top: 9px;
  }

 .flex-container a{
  display: none;
}


}