<header class="header">
 <div class="flex-container">
    <img class="list" src="./images/iconlist.png">
	<img class="img" src="./images/logo.jpg">
    <a href="#ressorts">RESSORTS</a>
    <a href="#=dertag">DER TAG</a>
    <a href="#sport">SPORT</a>
    <a href="#galarie">GALARIE</a>
	<img class="img1" src="./images/search.svg" onClick="menuOpen();">
  </div>
  <div class="vertical-menu">
    <a href="#ressorts">RESSORTS</a>
    <a href="#=dertag">DER TAG</a>
    <a href="#sport">SPORT</a>
    <a href="#galarie">GALARIE</a>
</div>
</header>
 