<header class="header">
 <div class="flex-container">
    <img class="list" src="./images/iconlist.png" onClick="menuOpen();">
	<img class="img" src="./images/logo.jpg">
    <a href="#ressorts">RESSORTS</a>
    <a href="#dertag">DER TAG</a>
    <a href="#sport">SPORT</a>
    <a href="#galarie">GALARIE</a>
	<img class="img1" src="./images/search.svg" >
  </div>
  <div class="dropdown">
  	<div id="myDropdown" class="dropdown-content">
    	<a href="#ressorts">Ressorts</a>
    	<a href="#dertag">Der Tag</a>
    	<a href="#sport">Sport</a>
    	<a href="#galarie">Galarie</a>
  	</div>
  </div>
</header>
 