<header class="header">
 <div class="flex-container">
 <div class="dropdown1">
    <img class="list" src="./images/iconlist.png">
     <div class="mobiledropdown">
        <ul >
          <li class="limobile">RESSORTS<img class="img2" src="./images/icon_navi.svg"></li>
          <li class="limobile">DER TAG<img class="img2" style="margin-left: 120px;" src="./images/icon_navi.svg"></li>
          <li class="limobile" id="dropdown-submenu">SPORT<img class="img2" style="margin-left: 135px;" src="./images/icon_navi.svg"></li>
          <li class="limobilesub"  style="display:none;">Fußball</li>
          <li class="limobilesub"  style="display:none;">MotorSport</li>
          <li class="limobilesub"  style="display:none;">Sporttabellen</li>
          <li class="limobilesub"  style="display:none;">Bundesliga-Quiz</li>
          <li class="limobile">GALARIE<img class="img2" style="margin-left: 120px;" src="./images/icon_navi.svg"></li>
        </ul>  
     </div>
  </div>
	  <img class="img" src="./images/logo.jpg">
    <a href="#ressorts">RESSORTS</a>
    <a href="#dertag">DER TAG</a>
    <div class="dropdown"><a href="#sport">SPORT</a>
      <div class="dropdown-content">
        <ul style="padding-left:10%;">
          <li class="limenu">Fußball</li>
          <li class="limenu">MotorSport</li>
          <li class="limenu">Sporttabellen</li>
          <li class="limenu">Bundesliga-Quiz</li>
        </ul>   
      </div>
    </div>
    <a href="#galarie">GALARIE</a>
    <img class="img1" src="./images/search.svg" >
  </div>
  <br/>
  <div class="row">
      <div class = "col">
          BÖRSENTICKER
          <i class="right" style="margin-left: 170px;"></i>
      </div>
      
      <div  class="col-2">
        WETTER
      </div>
      <div  class="col-3">
          GARMISCH-PARTENKIRCH..
      </div>
      <img class="imgicon" src="./images/icon.png">
  </div>
  <br/>
  <div class="row">
        <div class="col2">
          <div class="col1-1">
            <img src="./images/arrow.png">
          </div>
          <div class="col1-1">
            Dax 
          </div>
          <div class="col1-1">
             7.844
          </div>
          <div class="col1-1">
             <span style="color:green;">1.3%</span>
          </div>
          <br/>
          <div class="col1-1">
            <img src="./images/arrow.png">
          </div>
          <div class="col1-1">
            DB-Dax 
          </div>
          <div class="col1-1">
             7.844
          </div>
          <div class="col1-1">
             <span style="color:green;">1.3%</span>
          </div>
        </div>
        <div class="col2">
          <div class="col1-1">
            <img src="./images/arrow.png">
          </div>
          <div class="col1-1">
            TDax 
          </div>
          <div class="col1-1">
             7.844
          </div>
          <div class="col1-1">
             <span style="color:green;">1.3%</span>
          </div>
          <br/>
          <div class="col1-1">
            <img src="./images/arrow.png">
          </div>
          <div class="col1-1">
            ESx 
          </div>
          <div class="col1-1">
             7.844
          </div>
          <div class="col1-1">
             <span style="color:green;">1.3%</span>
          </div>
        </div>
 
        <div class="special-col" class="col2" style="border-right: 2px solid #f5f5f5;margin-left: 22px;">
          <div class="col1-1">
            <img src="./images/arrow.png">
          </div>
          <div class="col1-1">
            Dow 
          </div>
          <div class="col1-1">
             17.844
          </div>
          <div class="col1-1">
             <span style="color:green;">1.2%</span>
          </div>
          <br/>
          <div class="col1-1">
            <img src="./images/arrowred.png">
          </div>
          <div class="col1-1">
           S&P 
          </div>
          <div class="col1-1">
             7.845
          </div>
          <div class="col1-1">
             <span style="color:red;">1.3%</span>
          </div>
        </div>
       <div class="special-col" class="col2" style="margin-left: 14px;">
          <div class="col1-1">
            <img src="./images/arrowred.png">
          </div>
          <div class="col1-1">
            NAS 
          </div>
          <div class="col1-1">
             2.744
          </div>
          <div class="col1-1">
             <span style="color:red;">1.4%</span>
          </div>
          <br/>
          <div class="col1-1">
            <img src="./images/arrow.png">
          </div>
          <div class="col1-1">
            NasF 
          </div>
          <div class="col1-1">
             7.845
          </div>
          <div class="col1-1">
             <span style="color:green;">1.3%</span>
          </div>
        </div>
      
    
    <div style="width:10%;margin-left: 78px;border-right: 2px solid #f5f5f5;" class="special-col" class="col2">
        <img src="./images/climate.png">
        <span style="font-size:38px;">18°</span>
    </div>
    <div  style="border-right-width: 0px;" class="special-col" >
        <img src="./images/climate.png"><span style="margin-left: 5px;position: fixed;"> DI<br/> -13°/-1°</span>
        <img style="margin-left:63px;" src="./images/climate.png"><span style="margin-left: 5px;position: fixed;"> MI<br/> -13°/-1°</span>
    </div>
  </div>
  <div class="row" style="width: 70%; margin-top:-28px; border-bottom:2px solid #f5f5f5;">
  </div>
  <div  class="row" >
     <div class="col-das1" class="col">
         <div class="col-das">
            DAS NEUESTE
            <i class="right" style="margin-left: 203px;"></i>
         </div>
         <div class="mobile-view">
           <span class="mobile-view" style="margin-top:10px;color:black; font-size: 14px;">24.12.2014 08.57 Uhr</span>
           <span class="mobile-view" style="color:#963737;font-size: 14px;margin-top: 3px;font-weight: bold;"> Neu im BER-Aufsichtsrat</span>
           <span class="mobile-view" style="color:black;font-weight:bold;font-size: 12px;margin-top: 5px;">Brandenburg holt Ex-Luftfahrtmanager</span>
           <img class="dots-change" src="./images/dots.png">
         </div>
         <div class="arrow-change">
            <img src="./images/arrowleft.png">
         </div>
         <div class="specdiv">
            <span class="special-col" style="color:#963737; font-size:15px;">17:21</span>
            <span class="special-col" style="color:black; font-variant: titling-caps;font-weight: normal;
            font-size: 15px;"> 'Geute Sterne' fur Heim-EM in Berlin <br/></span><span class="special-col" style="color:black;font-weight:bold; font-variant: titling-caps;font-size: 15px;">
            Schwimm-Routinier Biedermann soll's rishten</span>
           
         </div>
         <div class="arrow-change">
            <img src="./images/arrowright.png">
         </div>
     </div>
     <div class="special-col" style="width:30%;color:#963737;font-size:20px;font-weight: bolder;margin-left: 73%;
     margin-top: -52px;">
         <div class="row">
                LIVESTREAM
         </div>
        <div class="special-col" class="row">
            <img style="height: 198px;" src="./images/ntvLive.png">
        </div>
        <div class="special-col" class="row" style="margin-top: 5px;
        color: black;
        font-size: 17px;
        font-variant: traditional;
        font-weight: inherit;">
            Labor lorum ipsum dolor etiam <br/>
            Sicher at vero eos dolor
        </div>
        <div class="special-col" class="row" style="margin-top:11px; border-bottom:2px solid #f5f5f5;">
        </div>
        <div class="special-col" class="row">
            VIDEOS
        </div>
     </div>
  </div>
  <div class="special-col" style="width:70%;margin-top:-28px;margin-top: 22px; border-bottom:2px solid #f5f5f5;" class="row">

  </div>
  <div style="width:70%; margin-top: 17px;" class="row">
    <img class="dertagimg" src="./images/DerTag.png">
  </div>
  <div  class="lastdiv" class="row">
   Schallkanonen storen Mittelmeer-Delfine
  </div>
  <div class="mobile-view1" style="width:100%; margin-top: 17px;margin-left:0px;" class="row">
    <img class="dertagimg" style="margin-top:15px;width: 105%;" src="./images/vivaind.png">
  </div>
</header>
 
